# Default ignored files
/shelf/
/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/skillwill-exams.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
